body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    background: #111;
    color: #eee
}

.box-led{
    text-align: end;
    display: flex;
    justify-content: end;
}

#led {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .4s
}

.green {
    background: #2ecc71
}

.grey {
    background: #7f8c8d
}

.red {
    background: #e74c3c
}

.white {
    background: #ffffff
}

#loginForm {
    margin-top: 40px
}

input {
    padding: 8px;
    margin: 5px;
    width: 180px
}

button {
    padding: 8px 20px;
    cursor: pointer
}