body{font-family:Arial,Helvetica,sans-serif;text-align:center;margin-top:50px;background:#111;color:#eee}
#led{width:120px;height:120px;border-radius:50%;margin:30px auto;transition:.4s}
.green{background:#2ecc71}.grey{background:#7f8c8d}.red{background:#e74c3c}.white{background: #ffffff}
#loginForm{margin-top:40px}
input{padding:8px;margin:5px;width:180px}
button{padding:8px 20px;cursor:pointer}
